---
import { indieCasterConfig } from "../../indiecaster.config.js";

const { colorPrimaryColor } = indieCasterConfig;
---

<div class="theme">
  <slot />
</div>
<style is:global define:vars={{ colorPrimaryColor }}>
  .theme a:link,
  .theme a:visited {
    color: var(--colorPrimaryColor);
  }
</style>
